[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:williamsilvaec/algashop-ordering.git
[submodule "docs"]
	path = docs
	url = git@github.com:williamsilvaec/algashop-docs.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = git@github.com:williamsilvaec/algashop-billing.git
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = git@github.com:williamsilvaec/algashop-product-catalog.git
