[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:williamsilvaec/algashop-ordering.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:williamsilvaec/algashop-docs.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = git@github.com:williamsilvaec/algashop-billing.git
	branch = main
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = git@github.com:williamsilvaec/algashop-product-catalog.git
	branch = main
[submodule "template"]
	path = template
	url = git@github.com:williamsilvaec/algashop-template.git
	branch = main
[submodule "microservices/billing-scheduler"]
	path = microservices/billing-scheduler
	url = git@github.com:williamsilvaec/algashop-billing-scheduler.git
	branch = main
